<div *ngIf="messageService.messages.length">

  <h2 class="inline_H">Messages</h2>

  <!-- <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->

  <button mat-icon-button color="primary" (click)="messageService.clear()"
    aria-label="Example icon-button with a cached icon">
    <mat-icon>cached</mat-icon>
  </button>

  <mat-list role="list" *ngFor='let message of messageService.messages'>
    {{message}}
  </mat-list>

  <!-- <div *ngFor='let message of messageService.messages'> {{message}} </div> -->

</div>
